<p><a [routerLink]="'../../'"> back </a></p>
<p>country {{ (olympics$ | async)?.[param-1]?.country }}</p>

<!-- <ul>
    <li *ngFor="let item of (olympics$ | async)?.[param-1]?.participations;">
        {{item.city}}
        {{item.year}}
        Medals Count : {{item.medalsCount}}
        Athletes Count : {{item.medalsCount}}
    </li>
</ul> -->


<ul>
    <li *ngFor="let item of participations$.getValue()">
        {{item.city}}
        {{item.year}}
        Medals Count : {{item.medalsCount}}
        Athletes Count : {{item.medalsCount}}
    </li>
</ul>
<!-- <p>{{participations$.getValue()[0].city}}</p> -->
<!-- <p *ngIf="participations[0] !== undefined">{{ participations[0].city }}</p> -->